.jumbotron {
  background-color: #eff7fc;
  padding-bottom: 120px;
}

.top-container {
  color: #11324d;
  padding: 175px 80px 50px 80px;
}

.search-box {
  position: relative;
  border: 3px solid #a1cae2;
  border-radius: 50px;
}

#character-name {
  border: none;
  background-color: #f9f9f9;
  font-size: 18px;
  border-radius: 50px;
}

#btn-search {
  border: none;
  background-color: #a1cae2;
  font-size: 19px;
  border-radius: 50px;
  color: #11324d;
  padding: 0px 30px;
  margin: 3px;
}

#btn-search:hover {
  background-color: #aad2e9;
}

#results {
  padding: 80px 30px;
}

.error-message {
  text-align: center;
}

.result-element {
  border: 1px solid #aad2e9;
  background-color: #f9f9f9;
  border-radius: 13px;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 5px;
}

.character-name {
  border: 3px solid #a1cae2;
  background-color: #a1cae2;
  padding: 20px;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.result-box {
  margin: 20px;
}

.details-bar {
  border: 1px solid #a1cae2;
  background-color: #a1cae2;
  text-align: center;
  margin: 0px 13px;
}

.movie-element {
  padding: 10px 40px;
}

.movie-box {
  margin: 20px;
  padding: 10px;
  text-align: center;
  table-layout: fixed;
}

.footer-text {
  padding-top: 20px;
  font-size: 12px;
}
