.jumbotron {
  background-color: #efefef;
  padding-bottom: 100px;
}

.top-container {
  font-size: 28px;
  padding: 160px 80px 40px 80px;
}

.search-box {
  position: relative;
  border: 3px solid #9d9d9d;
  border-radius: 50px;
  background-color: #f9f9f9;
}

#character-name {
  border: none;
  background-color: #f9f9f9;
  font-size: 18px;
  border-radius: 50px;
}

#btn-search {
  border: none;
  background-color: #9d9d9d;
  font-size: 19px;
  border-radius: 50px;
  color: #000;
  padding: 0px 30px;
  margin: 3px;
}

#btn-search:hover {
  background-color: #d1d1d1;
}

#results {
  padding: 80px 30px;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  padding-left: 6%;
}

.card {
  margin-bottom: 30px;
  margin-right: 30px;
}

.character-name {
  padding: 12px 0px;
  text-align: center;
}

.movie-details {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 20px;
  background-color: #d1d1d1;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.movie-details:hover {
  background-color: #dfdfdf;
}

.movie-element {
  padding: 10px 40px;
}

.top-movie {
  font-size: 18px;
}

.footer-text {
  padding-top: 20px;
  font-size: 12px;
}
